.logo{
    width: 20vw;
    min-width: 200px;
    margin: auto;
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.1)
}
   

form{
    border: 3px solid #009E0F;
    border-radius: 5px;
    padding: 20px 20px;
    width: 500px;
    margin: 40px auto 40px;   
}

form label{
    font-weight: bold;
}

form div:nth-child(odd) input{
    border: 3px solid #2B78E4;
    
}
form div:nth-child(even) input{
    border: 3px solid #CF2A27;
}


form input{
    width: 80% !important;
    margin: auto;
}

form input::-webkit-input-placeholder{
    color: red !important;
}

form div{
    margin-bottom: 20px;
}

.button_form{
    border: 3px solid black;
    background-color: #B45F06;    
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 20px 20px 0px;
    box-shadow: black 3px 3px;
    transition: transform .2s;
}

.button_form:last-child{
    color: black;
    border: white;
    background-color: white;
    font-weight: normal;
}

.button_form:hover:enabled{
    transform: scale(1.1);   
}

.warningIcon{
    position: relative;
    float: right;
    top: -35px;
    left: -20px;
}

strong div{
    display: block;
    font-size: medium;
    margin-bottom: -5px;
}

@media screen and  (max-width: 576px){
    form{
        width: 85vw;
    }
}