.logo{
    margin-left: 10px;
    width: 150px;
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.1);   
}

.button_form{
    border: 3px solid black;
    background-color: #B45F06;
    box-shadow: 3px 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 40px 20px;
    transition: transform .2s;
}

/* .button_form:last-child{
    color: black;
    border: white;
    background-color: white;
    font-weight: normal;
} */

.button_form:hover{
    transform: scale(1.1);   
}

.content{
    margin: 10vh 20px;
}

.content button{
    margin-top: 30px;
    background-color: white;
    border: 3px solid black;
    font-weight: 600;
    padding: 10px 30px;
    box-shadow: 3px 3px;
    transition: transform .2s;
}

.content button:hover{
    transform: scale(1.1);
}

.joinInput{    
    max-width: 300px;
    margin: auto;
    transition: transform .2s;
}

.joinInput input{
    width: 80%;
    border: 2px solid black;
}

.joinInput input:focus{
    border: 2px solid #B45F06;
    box-shadow: 0 0 0 0.2rem rgba(180,95,6,0.25);
}

.joinBtn{
    border: 2px solid black;
    border-left: none;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.joinBtn:hover{
    color: white;
    background-color: #B45F06;
}

.joinBtn:focus{
    box-shadow: none;
}

.userIcon{
    /* color: #3DB4E8;
    font-size: 50px;
    padding: 0px;
    width:50px;
    height:50px;
    overflow: hidden;
    position: relative;
    transition: transform .2s;
    border: 1px solid gray;
    border-radius: 50%; */
    color: #3DB4E8;
    font-size: 50px;
    padding: 0px;
    max-width:100%;
    max-height:100%;
    transition: transform .2s;
}

.userIcon img{
    /* height: 50px;
    width:auto;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%; */
    width:100%;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    
}

.userDetail{
    
    float: left;
    position: relative;
    top: 100px;
    left: 80px;
    margin-right: 0px;
    font-size: small;
    border: 3px solid black;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: gray;

}

.userDetail div{
    padding: 0px;
    margin: -5px 0px;
}

.userIcon:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: #3DB4E8;
}

.userIcon:focus{
    box-shadow: none;
}

.greeting{
    /* float: left; */
    display: inline;
    position: relative;
    margin-right: 20px;
    font-size: 20pt;
    font-weight: 500;
    top: 10px;
}

.modal{
    position: relative;
    z-index: -1;
}
.background{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}

.settings{
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.closeButton{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: gray;
    transition: transform .2s;
}

.closeButton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tabButton{
    flex-direction: column;
}

.tabs, .tabs.active{
    margin: 0px 0px;
    padding: 15px 15px;
    border: 1px solid rgb(200,201,202);
    border-top: none;
    border-left: none;
    background-color: transparent;
}

.tabs:hover{
    position: relative;
    left: 10px;
}

.tabs.active{
    background-color: rgb(200,201,202);
    font-weight: bold;
}

.tabContent{
    min-width: 70%;
}

.tab-content .select label{
    font-weight: bold;
}

.myVideo{
    width: 200px;
}

.imagePreview img{
    margin-top: 20px;
    height: 200px;
    width: auto;
    max-width: 90%;
}

.editButton{
    margin-left: 10px;
    font-size: 15px;
    color: #3DB4E8;
}

.editButton:hover{
    transform: scale(1.2);
    cursor: pointer;
}



@media screen and  (max-width: 576px){
    .settings{
        width: 85vw;
    }

    .tabButton{
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        margin-bottom: 20px;
        transition: transform .2s;
    }

    .tabs:hover{
        position: relative;
        bottom: 10px;
        left: 0px;
    }
}